NEXT_PUBLIC_ENDPOINT=https://fra.cloud.appwrite.io/v1
PROJECT_ID=66b3ddb4003787e7d4a5
API_KEY=

DATABASE_ID=66b3e3070018665ce08f
PATIENT_COLLECTION_ID=
APPOINTMENT_COLLECTION_ID=
NEXT_PUBLIC_BUCKET_ID=66b3e4230007b0795fd7

# Pick any code, this gates /admin
NEXT_PUBLIC_ADMIN_PASSKEY=123456



VITE_APPWRITE_PROJECT_ID = "66b3ddb4003787e7d4a5"
VITE_APPWRITE_PROJECT_NAME = "Laeeqthedev_healthcare"
VITE_APPWRITE_ENDPOINT = "https://fra.cloud.appwrite.io/v1"